.Contect {
    background: linear-gradient(121deg, rgba(0, 0, 0, 0.533) 0%, rgba(0, 2, 8, 0.40940126050420167) 100%), url("./../../images/3afcb0cf69dcfdf6aaa1e3aa917cea04.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    color: #fff;
}